div {
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: normal;
    position: relative;
    margin: auto;
    text-align: justify;
    width: 1000px;

}
h1  {
    display: block;

}
hr {
    display: block;

}
p {
   text-indent: 20px;
}